<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>webex</display-name>
    <display-name>Apache-Axis</display-name>
    <servlet>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Axis Admin Servlet</display-name>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet>
        <display-name>SOAPMonitorService</display-name>
        <servlet-name>SOAPMonitorService</servlet-name>
        <servlet-class>org.apache.axis.monitor.SOAPMonitorService</servlet-class>
        <init-param>
            <param-name>SOAPMonitorPort</param-name>
            <param-value>5101</param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOAPMonitorService</servlet-name>
        <url-pattern>/SOAPMonitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/servlet/AdminServlet</url-pattern>
    </servlet-mapping>
    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>database</param-name>
		<param-value>oracle 11g</param-value>
	</context-param>
	<context-param>
		<param-name>filepath</param-name>
		<param-value>/upload/</param-value>
	</context-param>
	<error-page>
		<exception-type>java.lang.ArithmeticException</exception-type>
		<location>/work/error/exceptionPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/work/error/notFoundPage.jsp</location>
	</error-page>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>/member/*</url-pattern>
			<include-prelude>/include/header.jsp</include-prelude>
			<include-coda>/include/footer.jsp</include-coda>
		</jsp-property-group>
	</jsp-config>
	<servlet>
		<servlet-name>ConfigTest</servlet-name>
		<jsp-file>/work/test.jsp</jsp-file>
		<init-param>
			<param-name>testCode</param-name>
			<param-value>1234</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigTest</servlet-name>
		<url-pattern>/work/test.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestInitParamServlet</servlet-name>
		<servlet-class>TestInitParamServlet</servlet-class>
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>admin@aaa.com</param-value>
		</init-param>
		<init-param>
			<param-name>empEmail</param-name>
			<param-value>aaa@aaa.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestInitParamServlet</servlet-name>
		<url-pattern>/Test.do</url-pattern>
	</servlet-mapping>
</web-app>